<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="shortcut icon"
	href="http://192.168.10.91:8080/images/favicon.png" />
<style type="text/css">
#select {
border: 1px solid #333;
width: 200px;
height: 100px;
margin-bottom: 20px;
}

</style>
<!-- axios -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<!--  bootstrap CDN -->
<link rel="stylesheet" type="text/css"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
	crossorigin="anonymous"></script>

<!-- html2canvas -->
<script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>

<!-- jquery CDN -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript">
	$(function() {

	});
</script>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div id="select">
<a th:href="@{/condition/condition_view?id=0}">1번</a>
<a th:href="@{/condition/condition_view?id=1}">2번</a>
<a th:href="@{/condition/condition_view?id=2}">3번</a>
</div>
<h2>문자열 비교</h2>
<div th:switch="${cDTO.role}">
<p th:case="'user'">유저화면</p>
<p th:case="'admin'">관리자화면</p>
<p th:case="'guest'">게스트화면</p>
</div>
<div th:text="|${name == '이장훈' ? name : '없음'}|"></div>
<h2>숫자 비교</h2>
<div th:text="|${score gt -1 and score lt 101 ? score+'점' : '유효점수 아님'}|"></div>
<h2>야호</h2>
<div th:if="${cDTO.name == '주현석'}" th:text="|${cDTO.name}님 어서오세요!|">테스트</div>
<div th:if="${cDTO.name != '주현석'}" th:text="|${cDTO.name} 누구세요?|">테스트</div>
<h2>반복합니다</h2>
<ul>
<li th:each="name : ${list}" th:text="${name}"></li>
</ul>
<select>
<option th:each="name : ${list}" th:value="${name}" th:text="${name}"></option>
</select><br>
<input type="checkbox" name="yaho" th:each="name : ${list}" th:value="${name}" th:text="${name}"/ th:checked="${name == '양준수' || name == '주현석'}"><br>
<input type="radio" name="yaho" th:each="name : ${list}" th:value="${name}" th:text="${name}"/><br>
<br>
<table class="table table-hover" style="text-align: center;">
<tr>
<th style="width: 50px;">번호</th>
<th style="width: 100px;">이미지</th>
<th>설명</th>
</tr>
<tr th:each="img, i : ${imgList}">
<td th:text="${i.count}"></td>
<td><img th:src="|@{../images/{img}(img=${img.img})}|"/ style="width: 100%;"></td>
<td th:text="${img.title}"></td>
</tr>
</table>
<br>

<ul>
<li th:each="img, i : ${imgList}" th:text="|${i.count}, ${img.title}, ${img.img}|"></li>
</ul>
<br>
<div th:if="${cDTO ne null}">
<p><strong>안녕하세요?</strong></p>
</div>
<br>
<th:block th:each="name : ${imgList}">
<p th:text="name.title"></p>
</th:block>
<a th:href="@{/}">메인</a>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>