<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="shortcut icon" href="http://192.168.10.92:8080/images/favicon.png"/>
<style type="text/css">
#msgDiv {
border: 1px solid #333;
font-family: 돋움;
font-size: 30px;
}
</style>
<script type="text/javascript">
$(function(){
	$("#btn").click(function(){
		var name="강태일";
		alert(`${name}님 안녕하세요? 오늘은 목요일 입니다.`)
		alert(`[[${name}]]님 안녕하세요? 오늘은 목요일 입니다.`)
	});//click
});
</script>
</head>
<body>

<input type="button" id="btn" class="btn btn-success" value="클릭"/>

<div>
<div id="msgDiv" th:text="${message}">처음 인사를 보여주는 부분</div>
<p id="msgDiv2" th:text="${message2}">처음 인사를 보여주는 부분</p>
<p id="msgDiv2" th:utext="${message2}">처음 인사를 보여주는 부분</p>

<div th:text="|${name}과 ${name2}|">
이름들을 보여주는 영역
</div>

<input type="text" th:value="${message}"/>
<input type="text" th:placeholder="${message}"/>
<input type="text" th:style="${color}" th:value="${message2}"/>
<input type="button" th:value="${name}"/>

<ul>
<li><a href="obj/object_value">오브젝트</a></li>
<li><a href="link/link_view">링크</a></li>
<li><a href="img/img_view">이미지</a></li>
<li><a href="condition/condition_view">조건문</a></li>
</ul>

<img th:src="@{/images/default_img2.png}" style="width:100px"/>
<h2>파일 업로드</h2>
<form th:action="@{/upload_process}" method="post" enctype="multipart/form-data">
<table>
<tr>
	<td>파일선택</td>
	<td><input type="file" name="upfile"></td>
</tr>
<tr>
	<td>업로더</td>
	<td><input type="text" name="uploader"></td>
</tr>
<tr>
	<td>대상나이</td>
	<td>
		<input type="checkbox" name="targetAge" value="${ i }">10대
		<input type="checkbox" name="targetAge" value="${ i }">20대
		<input type="checkbox" name="targetAge" value="${ i }">30대
		<input type="checkbox" name="targetAge" value="${ i }">40대
	</td>
</tr>
<tr>
	<td colspan="2">
		<input type="submit" value="업로드" class="btn btn-success btn-sm"/>
	</td>
</tr>
</table>
</form>

<a href="/yaho">눌러봐보던지</a>
</div>

</body>
</html>