<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="shortcut icon" href="http://192.168.10.91:8080/images/favicon.png"/>
<th:block th:replace="~{fragments/external :: external}"></th:block>
<style type="text/css">
#msgDiv {
border: 1px solid #333;
font-family: 돋움;
font-size: 30px;
}
</style>
<script type="text/javascript">
$(function(){
	
});
</script>
</head>
<body>
<form th:action="@{/upload/file}" method="post" enctype="multipart/form-data">
<label for="file">파일</label><input type="file" name="file"/>
<input type="submit" value="전송"/>
</form>
</body>
</html>